 body {
      font-family: 'Times New York', Arial, sans-serif;
      background-color: #f4f8fb;
      color: #333;
      margin: 0;
      padding: 0;
    }

    header {
      background-color:#5b21b6;
      color: white;
      text-align: center;
      padding: 25px;
      
    }

    main {
      max-width: 900px;
      margin: 40px auto;
      background: #fff;
      padding: 30px 40px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    h2, h3, h4 {
      color: #5b21b6;
    }

    p {
      line-height: 1.7;
      margin-bottom: 15px;
    }

    ul, ol {
      margin-left: 25px;
      margin-bottom: 20px;
    }

    li {
      margin-bottom: 6px;
    }

    .btn {
      background-color: #5b21b6;
      color: white;
      padding: 10px 18px;
      border-radius: 6px;
      text-decoration: none;
      margin-right: 10px;
      display: inline-block;
    }

    .btn:hover {
      background-color:#5b21b6;
    }

    footer {
      text-align: center;
      padding: 20px;
      color: #666;
      font-size: 14px;
    }

    .highlight-box {
      background-color: #e9f2fc;
      border-left: 5px solid #5b21b6;
      padding: 15px;
      border-radius: 6px;
      margin-bottom: 20px;
    }
