/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

/* GRADIENT TEXT */
.gradient-text {
  background: linear-gradient(135deg, #667eea, #764ba2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GRADIENT BUTTON */
.gradient-btn {
  background: linear-gradient(135deg, #667eea, #764ba2);
  border: none;
}

.gradient-btn:hover {
  opacity: 0.9;
  color: #fff;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 0.7rem 1rem;
}

.title_code {
  color: black;
}
.title_hub {
  background: linear-gradient(135deg, #667eea, #764ba2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2);
    color: #ffffff;
   padding: 0%;
   height: 100vh;
    
}



/* CONTACT BOX */
.contact-section {
    max-width: 800px;
    background: #ffffff;
    color: black;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
}

.contact-section h2 {
    text-align: center;
    color: #032346;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
    margin-bottom: 25px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2);
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
   
form button:hover {
    background: #764ba2;
}
/* FOOTER */
.footer-link {
  color: #bbb;
  text-decoration: none;
}

.footer-link:hover {
  color: #764ba2;
}

/* FOOTER SECTION */
.footer {
  font-family: "Poppins", sans-serif;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .bi {
  transition: color 0.3s;
}