 body {
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #667eea 0%, #764ba2);
      
    }

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* GRADIENT TEXT */
.gradient-text {
  background: linear-gradient(135deg, #667eea, #764ba2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GRADIENT BUTTON */
.gradient-btn {
  background: linear-gradient(135deg, #667eea, #764ba2);
  border: none;
}

.gradient-btn:hover {
  opacity: 0.9;
  color: #fff;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 0.7rem 1rem;
}

.title_code {
  color: black;
}
.title_hub {
  background: linear-gradient(135deg, #667eea, #764ba2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
    .quiz-container {
      background: white;
      max-width: 850px;
      margin: auto;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
    h1 {
      text-align: center;
      color: black;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .question {
      font-size: 20px;
      font-weight: 600;
      color: #667eea 0%;
      margin-top: 20px;
    }
    .options label {
      display: block;
      background: #f5f6fa;
      padding: 12px 15px;
      margin: 10px 0;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      border: 1px solid #ddd;
    }
    .options label:hover {
      background: #e6e8f0;
    }
    .controls button {
      width: 48%;
    }
    #submit {
      background:#667eea 0%;
      color:white ;
      width: 100%;
      margin-top: 25px;
      font-size: 18px;
    }
    #submit:hover {
      background: #764ba2;
    }
    #timer {
      text-align: right;
      font-size: 18px;
      color: red;
      margin-bottom: 10px;
    }
    #result {
      margin-top: 25px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #764ba2;
    }
    #progress {
      font-size: 16px;
      margin-bottom: 10px;
      color: black;
    }
    .controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.controls button {
  width: 130px;          /* fixed equal width */
  height: 45px;          /* fixed equal height */
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #667eea 0%;
  color: white;
  transition: all 0.3s ease;
}

.controls button:hover {
  background-color: #764ba2;
  transform: scale(1.05);
}
/* FOOTER */
.footer-link {
  color: #bbb;
  text-decoration: none;
}

.footer-link:hover {
  color: #764ba2;
}

/* FOOTER SECTION */
.footer {
  font-family: "Poppins", sans-serif;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .bi {
  transition: color 0.3s;
}